_href = "http://qingtian.us"
href = "http%3A%2F%2Fqingtian.us"
_title = "短群网"
title = "%u77ED%u7FA4%u7F51"
_desc = "\"短群\"是一款能自动添加收信人姓名的短信群发软件，从此让你的短信与众不同，更显心意！你也来试试吧！"
desc = "%22%u77ED%u7FA4%22%u662F%u4E00%u6B3E%u80FD%u81EA%u52A8%u6DFB%u52A0%u6536%u4FE1%u4EBA%u59D3%u540D%u7684%u77ED%u4FE1%u7FA4%u53D1%u8F6F%u4EF6%uFF0C%u4ECE%u6B64%u8BA9%u4F60%u7684%u77ED%u4FE1%u4E0E%u4F17%u4E0D%u540C%uFF0C%u66F4%u663E%u5FC3%u610F%uFF01%u4F60%u4E5F%u6765%u8BD5%u8BD5%u5427%uFF01"
!!! 5
html
	head
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		title= _title
		link(href="o.css",rel="stylesheet")
		meta(content="短裙网,短信应用,手机应用,ios,app,qingtian",name="Keywords")
		meta(content="#{_desc}",name="Description")
	body
		#bg
			.top
			.bottom
		#s1
			.inner
				.iphone
				.side
					.intr
					a.shop(target="_blank",href="https://itunes.apple.com/cn/app/duan-qun/id636518447?mt=8",title="apple store")
					.share
						p 分享到：
						div
							a.googleplus(target="_blank",href="https://plus.google.com/share?url=#{href}&t=#{desc}")
							a.facebook(target="_blank",href="http://www.facebook.com/sharer.php?u=#{href}&t=#{desc}")
							a.sina(target="_blank",href="http://service.weibo.com/share/share.php?title=#{desc}&url=#{href}")
							a.renren(target="_blank",href="http://widget.renren.com/dialog/share?resourceUrl=#{href}&srcUrl=#{href}&title=#{title}&pic=&description=#{desc}")
							a.douban(target="_blank",href="http://shuo.douban.com/!service/share?image=&href=#{href}&name=#{title}&text=#{desc}")
							a.qzone(target="_blank",href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=#{href}&title=#{title}&pics=&summary=#{desc}")
		#s2
			.inner
				#downloadnow
					a.pro(target="_blank",href="https://itunes.apple.com/cn/app/duan-qun/id636518447?mt=8",title="pro version")
					a.free(target="_blank",href="https://itunes.apple.com/cn/app/duan-qunfree/id640599575?mt=8",title="free version")
		#s3
			.inner
				#f01
		#s4
			.inner
				#f02
		#s5
			.inner
				#f03
		#s6
			.inner
				#f04
		#s7
			.inner
				#email
					a(href="mailto://qingtian.studio@gmail.com",target="_blank",title="mail me")
						|qingtian.studio@gmail.com
		#s8
			.inner
				p Copyright &copy; 2013 Qingtian
